<div class="container">
  <div class="row">
    <div class="col-12 " style="margin-top: 25px">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{'Title.Home' | translate}}</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{{'Title.Profile' | translate}}</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">{{'Title.Contact' | translate}}</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false" *ngIf="checkLogout" (click)="logout()">{{'Title.Logout' | translate}}</a>
<!--          <label>-->
<!--            <select style="width: 70px; height: 50px;" #langSelect (change)="translate.use(langSelect.value)" >-->
<!--&lt;!&ndash;              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}&ndash;&gt;-->
<!--&lt;!&ndash;              </option>&ndash;&gt;-->
<!--              <option value="en" [selected]=" translate.getLangs() === translate">English </option>-->
<!--              <option value="fr"  [selected]="translate.getLangs() === translate" > Franch </option>-->
<!--              <option value="korean"  [selected]="translate.getLangs() === translate" > Korean </option>-->
<!--            </select>-->
<!--          </label>-->
        </div>
      </nav>
      <div class="tab-content " id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <home-app></home-app>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >
          <app-user></app-user>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
      </div>
    </div>
    <select>
      <option class="select1">11</option>
      <option >21</option>
    </select>
  </div>
</div>


